[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bottle = "*"
beautifulsoup4 = "*"
requests = "*"
responses = "*"
boddle = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.10"
